$color-all-bar: #5B5B5B;
$color-progress: red;

.continue__watching {
    background-color: $color-all-bar;
    width: 120px;
    height: 4px;

    margin: auto;
    margin-top: 0px;
}

.continue__watching__progress {
    background-color: $color-progress;
    width: 0px;
    height: 4px;
}