.feed {
  margin: 40px 0;
  margin-left: 45px;
}

.feed__see__more__right {
  position: sticky;
  right: 20px;
  cursor: pointer;
}

.feed__see__more__left {
  position: sticky;
  left: 20px;
  cursor: pointer;
  z-index: 1;

  rotate: 180deg;
}


.feed--full--width {
  margin-left: 0;

  .feed__title {
    margin-left: 45px;
  }
}


.feed__thumbnails {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}


.feed__title {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 5px;
}
