.feed {
  margin-left: 38px;
  overflow-x: hidden;
  position: relative;
}

.feed__title {
}

.feed__cards {
  display: flex;
}

.feed__see__more {
  position: absolute;
  right: 10px;
  top: 60px;
}
