@use "../base/variables" as *;

.footer__container {
  width: 70%;
  margin: auto;
}

.footer__link__container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 800px) {
    display: block;
  }
}

.footer__text {
  color: $black-100;
  font-size: $p-size-sm-2;
  margin: 20px 0;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.footer--link--special {
  border: 1px solid $black-100;
  display: inline-block;
  padding: 5px;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.footer__icons__container {
  & > svg {
    margin-right: 20px;
    cursor: pointer;
  }
}

.footer__copyright {
  cursor: initial;
  &:hover {
    text-decoration: none;
  }
}
