.footer__container {
  width: 70%;
  margin: auto;
}

.footer__link__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__text {
  color: #808080;
  font-size: 13px;
  margin: 20px 0;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.footer--link--special {
  border: 1px solid #808080;
  display: inline-block;
  padding: 5px;

  &:hover {
    color: #fff;
    text-decoration: none;
  } 
}

.footer__icons__container {
  & > svg {
    margin-right: 20px;
  }
}

.footer__copyright {
  &:hover {
    text-decoration: none;
  }
}