$heightHighlightContent: calc(100vw / 2.8);
$heightHighlightContainer: calc(100vw / 2.4);

.highlight__container {
  background-image: url("../../public/assets/orange-black.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100vw;
  height: $heightHighlightContainer;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.highlight__buttons__container {
  display: flex;
}

.highlight__limiter {
  margin-top: $heightHighlightContent;
}

.highlight__content {
  height: $heightHighlightContent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;

  @media (max-width: 1050px) {
    margin-left: 0;
  }
}

.highlight__title {
  font-size: 70px;

  span {
    display: block;
  }

  @media (max-width: 800px) {
    font-size: 50px;
  }
  @media (max-width: 500px) {
    span {
      display: inline-block;
    }
    font-size: 20px;
  }
}

.highlight__description {
  width: 50%;
  margin: 20px 0;

  @media (max-width: 800px) {
    margin: 5px 0;
    font-size: 10px;
  }
  @media (max-width: 500px) {
    font-size: 8px;
  }
}

.highlight__button {
  font-size: 14px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  @media (max-width: 800px) {
    font-size: 10px;
  }
}

.highlight__button__watch {
  width: 130px;
  height: 35px;
  margin-right: 10px;

  background-color: #fff;
  &:hover {
    background-color: #eee;
  }

  @media (max-width: 800px) {
    width: 90px;
    height: 28px;
  }
  @media (max-width: 500px) {
    width: 70px;
    height: 18px;
    svg {
      width: 10px;
    }
  }
}

.highlight__button__info {
  width: 200px;
  height: 35px;

  background-color: #7272728c;
  color: #fff;
  &:hover {
    background-color: #3636368c;
  }

  @media (max-width: 800px) {
    width: 140px;
    height: 28px;
  }
  @media (max-width: 500px) {
    width: 80px;
    height: 18px;
  }
}
