@use "../base/variables" as *;

$highlight-height-enable-feed: calc(100vw / 2.8);
$hightlight-height: calc(100vw / 2.2);

.highlight__container {
  background-image: url("../../public/assets/orange-black.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100vw;
  height: $hightlight-height;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.highlight__buttons__container {
  display: flex;
}

.highlight__limiter {
  margin-top: $highlight-height-enable-feed;
}

.highlight__content {
  height: $hightlight-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;

  @media (max-width: $breakpoint-lg) {
    margin-left: 10px;
  }
  @media (max-width: $breakpoint-sm) {
    margin-left: 0;
  }
}

.highlight__title {
  font-size: $h1-font-size-lg;

  span {
    display: block;
  }

  @media (max-width: 800px) {
    font-size: $h1-font-size-md;
  }
  @media (max-width: $breakpoint-sm) {
    span {
      display: inline-block;
    }
    font-size: $h1-font-size-sm;
  }
}

.highlight__description {
  width: 50%;
  margin: 20px 0;

  @media (max-width: $breakpoint-md) {
    margin: 5px 0;
    font-size: $p-size-sm-2;
  }
  @media (max-width: $breakpoint-sm) {
    font-size: $p-size-xs;
  }
}

.highlight__base__button {
  font-size: $btn-font-size-lg;
  font-weight: $font-weight-bold;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: $btn-border-radius;

  cursor: pointer;

  @media (max-width: $breakpoint-md) {
    font-size: $btn-font-size-md;
  }
}

.highlight--button--watch {
  width: 130px;
  height: 35px;
  margin-right: 10px;

  background-color: $white;
  &:hover {
    background-color: $white-100;
  }

  @media (max-width: 800px) {
    width: 90px;
    height: 28px;
  }
  @media (max-width: 500px) {
    width: 70px;
    height: 18px;
    svg {
      width: 10px;
    }
  }
}

.highlight--button--info {
  width: 200px;
  height: 35px;

  background-color: $black-transparent-100;
  color: $white;
  &:hover {
    background-color: $black-transparent-200;
  }

  @media (max-width: $breakpoint-md) {
    width: 140px;
    height: 28px;
  }
  @media (max-width: $breakpoint-sm) {
    width: 80px;
    height: 18px;
  }
}
