@use "../base/variables" as *;

.navbar {
  background-color: $primary-color;
  transition: background-color $transition-time;

  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar__content {
  color: $white;

  width: 95%;
  height: 50px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: 65px;
  height: 23px;
  cursor: pointer;
}

.navbar__bell {
  width: 18px;
  position: relative;
  cursor: pointer;
}

.navbar_bell_icon {
  margin-top: 5px;
}

.navbar__search {
  cursor: pointer;
}

.navbar__bell__notification {
  width: 10px;
  height: 10px;

  position: absolute;
  left: 12px;
  top: 2px;

  border-radius: 100%;

  background-color: $red-500;

  font-size: $p-size-xs;
  font-weight: $font-weight-bold;
  text-align: center;
}

.navbar__user {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: $btn-border-radius;
  }
}

.navbar__left__menu {
  display: flex;
  align-items: center;
}

.navbar__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__links li,
.navbar__links__mobile li,
.navbar__infantil__link {
  font-size: $p-size-sm-1;
  font-weight: $font-weight-normal;
  margin-left: 20px;
  cursor: pointer;

  &:hover {
    color: $white-200;
  }
}

.navbar__links__mobile {
  display: none;
}

.navbar__right__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div {
    margin: 0 10px;
  }
}

.navbar--remove--color {
  background-color: inherit;
  transition: all $transition-time;
}

@media (max-width: $breakpoint-lg) {
  .navbar__links li,
  .navbar__links__mobile li,
  .navbar__infantil__link {
    font-size: $p-size-sm-2;
  }
}

@media (max-width: $breakpoint-md) {
  .navbar__links,
  .navbar__infantil__link {
    display: none;
  }
  .navbar__links__mobile {
    display: initial;
  }
}
